.display {
    grid-column: span 4;
    background-color: #00000088;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px 10px;
    font-size: 2.1em;
    overflow: hidden;
}