@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 300;
}

html {
    height: 100vh;
}
body {
    min-height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    background-color: #f0f0f0;

    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    
}