*{
    padding: 0px;
    margin: 0px;
}
html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

body{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 70%;
}
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    box-shadow: 10px 5px 10px hsla(0, 0%, 0%, 0.418);
    color: white;
    background-color: #704fa8;
    border-radius: 0px 0px 15px 15px;
}
main {
    padding: 30px;
    text-indent: 30px;
    height: 100%;
    background-color: whitesmoke;
    margin-top: 5px;
}
.text {
    color: blue;
    font-size: 1.3em;
}
.paragrafo {
    color: red;
}
#texto {
    color: #09cccc
}
img {
    margin-right: 15px;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;

}